.header {
  width: 100%;
  background: #28235c;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-weight: 600;
}

.nav {
  display: flex;
  font-size: 30px;
  ul {
    display: flex;
    gap: 80px;
  }
  .item {
    display: inline;
  }

  .item:hover {
    color: blue;
  }

  .active {
    color: blue;
    text-decoration: underline;
    cursor: default;
  }
}
